[Unit]
Description=Thinkpad Trackpoint sensitivity fix

Wants=network.target
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/set-trackpoint-sensitivity
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=default.target
